.wrapper {
    font-size: 1.6rem;
    min-width: 100px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    padding:9px 16px;
    background:var(--white);
   border:1px solid transparent;
   user-select:none;
  
   +.wrapper{
    margin-left:8px;
   }
}
.icon + .title, .title + .icon{
    margin-left: 8px;
}
.icon{
    display:inline-block;
    width:20px;
    text-align:center;
}
.leftIcon{
    display: block;
    text-decoration: none;
    color: black;
}
.rounded{
    border-radius:999px;
    border-color: rgba(22, 24, 35, .12);
    
    &:hover{
        cursor:pointer;
        border-color: rgba(22, 24, 35, .2);
    background-color: rgba(255, 255, 255, 1);
    }
}
.primary {
    background-color: var(--primary);
    color:var(--white);
    border-color:var(--primary);
    &:hover{
    border-color:var(--primary);

        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
        cursor:pointer;
    }
}
.outline{
    color:var(--primary);
border-color : currentcolor;
&:hover{
    background-color:rgba(254,44,85,0.06)
}
}
//size
.small{
    min-width:88px;
    padding:4px 16px;
}
.large{
    min-width:140px;
    padding:14px 16px;
}
.text{
    border:1px solid #000;
    font-size:16px;
    color:rgba(22, 24, 35, 1);
    &:hover{
        background-color: rgba(22, 24, 35, .03);
    }
}
.disabled{
pointer-events:none;
opacity:0.5;
}
