.wrapper {
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-btn-width: 52px;
    height: var(--height-header);

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    .inner {
        height: 100%;
        display: flex;
        width: var(--layout-width);
        align-items: center;
        justify-content: space-between;
        .search,.search-result{
width:361px;
        }
        .search {
            position: relative;
            width: 361px;
            height: var(--search-height);
            background-color: rgba(22, 24, 35, 0.06);
            border-radius: var(--border-radius);
            padding-left: 16px;
            border: 1.5px solid transparent;

            display: flex;
            &::after {
                content: '';
                position: absolute;
                height: 28px;
                width: 1px;
                right: var(--search-btn-width);
                top: var(--search-top-spacer);
                height: calc(var(--search-height) - var(--search-top-spacer) * 2);
                background-color: rgba(22, 24, 35, 0.12);
            }
            &:focus-within {
                border: 1.5px solid rgba(22, 24, 35, 0.2);
            }
            input:not(:placeholder-shown) ~ .search-btn {
                color: rgba(22, 24, 35, 0.75);
            }
            input {
                padding: 12px 0;
                color: var(--black);
                flex: 1;
                color: #828282;
                font-size: 1.6rem;
                border: none;
                caret-color: red;
                background-color: transparent;
                outline: none;

                &::after {
                    content: '';
                    position: absolute;
                    height: 28px;
                    top: var(--search-top-spacer);
                    right: var(--search-btn-width);
                    width: 1px;
                    height: calc(var(--search-height) - 18px);
                    background-color: rgba(22, 24, 35, 0.12);
                }
            }
        }
        .clear,
        .loading {
            border: none;
            outline: none;
            position: absolute;
            right: calc(var(--search-btn-width) + 16px);
            top: 50%;
            transform: translateY(-50%);
            color: rgba(22, 24, 35, 0.34);
        }
        .search-btn {
            width: var(--search-btn-width);
            height: 100%;
            border: none;
            outline: none;
            font-size: 1.8rem;
            color: rgba(22, 24, 35, 0.34);
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
        }
        .search-btn:active {
            background-color: red;
        }
        .search-btn:hover {
            background-color: rgba(22, 24, 35, 0.03);
            cursor: pointer;
        }
        .search-title{
            color:rgba(22,24,35,0.5);
            font-size:1.4rem;
            font-weight:600;
        }
    }
}
